---
BasedOnStyle: Microsoft
AccessModifierOffset: '-4'
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'false'
AlignEscapedNewlines: Left
BinPackParameters: 'true'
BreakBeforeBraces: Attach
BraceWrapping:
	BeforeElse: 'true'
ColumnLimit: '120'
TabWidth: '4'
UseTab: Always
PointerAlignment: Right 
IndentCaseLabels: true
AlwaysBreakAfterReturnType: None
PenaltyBreakAssignment: 50
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: true
AllowAllConstructorInitializersOnNextLine: false
AllowAllArgumentsOnNextLine: false	
AllowAllParametersOfDeclarationOnNextLine:  false
AlignConsecutiveAssignments: true
...
